*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 15vh 60vh 15vh;
    grid-template-areas:
    "h"
    "m"
    "r"
    ;
}

  header{
    grid-area: h;
    background-color: #785656;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


.menu a{
border-radius: 20px;
background-color: #937c7c;
padding: 10px 20px;
height: 40px;
text-decoration: none;
color: white;
display: flex;
}

main{
  grid-area:m;
  background-color: #D0B9B9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  padding: 90px;
  font-size: 20px;
}

main > form >div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 30px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
}

form > div {
  margin: 20px 0;
  padding: 15px;
  
}

form label {
  display: block;
  margin-bottom: 5px;
  align-items: left;
  text-align: left;
}

input + label {
  display: flex;
  margin: 0;
  padding: 40px;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.entrar {
  border-radius: 20px;
  background-color: rgb(84, 73, 73);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

form > input{
  border-radius: 15px;
  font-size: 15px;
  text-align: left;
}

form >input [type="submit"]{
  background-color: #7F5D5D;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  align-items: left;
}

footer{
  grid-area: r;
  background-color: #937c7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer > div{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

