*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 15vh 70vh 25vh;
    grid-template-areas:
    "h"
    "i"
    "r"
    ;
}


header{
    grid-area: h;
    background-color: #785656;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header > a>input{
    border-radius: 20px;
    background-color: #937c7c;
    padding: 10px 20px;
    height: 40px;
    text-decoration: none;
    color: white;
    display: flex;
}

main{
    grid-area: i;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    padding: 50px;
     font-size: 20px;

}

form{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

form > input{
    
    border-radius: 10px;
    font-size: 18px;
}

form >div{
    border-radius: 20px;
    background-color: #7F5D5D;
    padding: 10px 20px;
    height: 40px;
    text-decoration: none;
    text-align: center;
}

form > div > a{
    color: white;
}
form >input[type="submit"]{
    background-color: #7F5D5D;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

footer{
    grid-area: r;
    background-color: #937c7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer > div{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}